body{
    font-size: 1.5em;
}

button{
    padding: 0.5em;
    font-size: 1.1em;
    border-radius: 8px;

    background-color: rgb(66, 66, 255)  ;
    color:white;

    border: 2px solid white;

}

button:hover{
    cursor: pointer;
}